
@using NorthWind.Core.Entity;
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers;
@model Product;
@{
    ViewData["Title"] = "Index";
    var productlist = ViewData["productlist"] as List<Product>;
   
}
<div id="kt_app_content_container" class="app-container  container-fluid ">
            <!--begin::Products-->
<div class="card card-flush">
    <!--begin::Card header-->
    <div class="card-header align-items-center py-5 gap-2 gap-md-5">
        <!--begin::Card title-->
        <div class="card-title">
            <!--begin::Search-->
            <div class="d-flex align-items-center position-relative my-1">
                <i class="ki-duotone ki-magnifier fs-3 position-absolute ms-4"><span class="path1"></span><span class="path2"></span></i>                <input type="text" data-kt-ecommerce-product-filter="search" class="form-control form-control-solid w-250px ps-12" placeholder="Search Product">
            </div>
            <!--end::Search-->
        </div>
        <!--end::Card title-->

        <!--begin::Card toolbar-->
        <div class="card-toolbar flex-row-fluid justify-content-end gap-5">
            <div class="w-100 mw-150px">
                <!--begin::Select2-->
                <select class="form-select form-select-solid select2-hidden-accessible" data-control="select2" data-hide-search="true" data-placeholder="Status" data-kt-ecommerce-product-filter="status" data-select2-id="select2-data-7-p5kp" tabindex="-1" aria-hidden="true" data-kt-initialized="1">
                    <option data-select2-id="select2-data-9-siun"></option>
                    <option value="all">All</option>
                    <option value="published">Published</option>
                    <option value="scheduled">Scheduled</option>
                    <option value="inactive">Inactive</option>
                </select><span class="select2 select2-container select2-container--bootstrap5" dir="ltr" data-select2-id="select2-data-8-7k9f" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single form-select form-select-solid" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-3uy4-container" aria-controls="select2-3uy4-container"><span class="select2-selection__rendered" id="select2-3uy4-container" role="textbox" aria-readonly="true" title="Status"><span class="select2-selection__placeholder">Status</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                <!--end::Select2-->
            </div>

            <!--begin::Add product-->
            <a href="#" class="btn btn-primary">
                Add Product
            </a>
            <!--end::Add product-->
        </div>
        <!--end::Card toolbar-->
    </div>
    <!--end::Card header-->

    <!--begin::Card body-->
    <div class="card-body pt-0">
        
<!--begin::Table-->
<div id="kt_ecommerce_products_table_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer"><div class="table-responsive"><table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer" id="kt_ecommerce_products_table">
    <thead>
        <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0"><th class="w-10px pe-2 sorting_disabled" rowspan="1" colspan="1" aria-label="style="width: 29.9px;"></th>              
        
             </th><th class="min-w-125px sorting" tabindex="0" aria-controls="kt_table_users" rowspan="1" colspan="1" aria-label="User: activate to sort column ascending" style="width: 229.575px;">ProductName</th><th class="min-w-125px sorting" tabindex="0" aria-controls="kt_table_users" rowspan="1" colspan="1" aria-label="Role: activate to sort column ascending" style="width: 139.475px;">SupplierID</th><th class="min-w-125px sorting" tabindex="0" aria-controls="kt_table_users" rowspan="1" colspan="1" aria-label="Last login: activate to sort column ascending" style="width: 139.475px;">CategoryID</th><th class="min-w-125px sorting" tabindex="0" aria-controls="kt_table_users" rowspan="1" colspan="1" aria-label="Two-step : activate to sort column ascending" style="width: 200.475px;">QuantityPerUnit </th><th class="min-w-125px sorting" tabindex="0" aria-controls="kt_table_users" rowspan="1" colspan="1" aria-label="Joined Date: activate to sort column ascending" style="width: 200.375px;">UnitPrice</th><th class="min-w-125px sorting" tabindex="0" aria-controls="kt_table_users" rowspan="1" colspan="1" aria-label="User: activate to sort column ascending" style="width: 30px;">Action</th></tr>
    </thead>
    <tbody class="fw-semibold text-gray-600">
                           
                    
      <tbody id="employeeslist" class="text-gray-600 fw-semibold">
        @if(ViewData["productlist"] !=null)
        {
            
             if(productlist!=null)
            {
                @foreach (var product in productlist)
                {
                <tr class="odd">   
                    <td>
                        <div class="form-check form-check-sm form-check-custom form-check-solid">
                            <input class="form-check-input" type="checkbox" value="1">
                        </div>
                    </td>
                    <td class="d-flex align-items-center">
                        <div class="d-flex flex-column">
                            <a href="#" class="text-gray-800 text-hover-primary mb-1">@(product.ProductName)</a>
                        </div>
                    </td>
                    <td>@product.SupplierID </td>
                    <td>@product.CategoryID</td>
                    <td>@product.QuantityPerUnit</td>                        
                    <td>@product.UnitPrice</td>
                  
                    <td >
                    <button class="btn btn-light btn-active-light-primary btn-flex btn-center btn-sm"  data-toggle="modal"  data-target="#editProductModal_@product.ProductID"> Details </button>         
                    </td>                                              
                </tr>

             <div class="modal fade" id="editProductModal_@product.ProductID" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"  data-toggle="modal" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Update Employee</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                <div class="modal-body px-5 my-7">
                <!--begin::Form-->
                 <form id="kt_modal_add_user_form" class="form fv-plugins-bootstrap5 fv-plugins-framework" method="post" enctype="multipart/form-data" action="/Product/Create">
                    <!--begin::Scroll-->
                    <div class="d-flex flex-column scroll-y px-5 px-lg-10" id="kt_modal_add_user_scroll" data-kt-scroll="true" data-kt-scroll-activate="true" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_add_user_header" data-kt-scroll-wrappers="#kt_modal_add_user_scroll" data-kt-scroll-offset="300px" style="max-height: 415px;">
                        <!--begin::Input group-->
                        <!--end::Input group-->

                        <!--begin::Input group-->
                        <div>
                        <input type="hidden" data-val="true" data-val-required="The ProductID field is required." id="ProductID" name="ProductID" value="">
                        <!--begin::Label-->
                        <label class="required fw-semibold fs-6 mb-2">Product Name</label>
                        <input type="text" class="form-control " id="ProductName" name="ProductName" value="@product.ProductName">
                        <!--end::Input-->
                        </div>

                        <div class="">
                            <!--begin::Label-->
                            <label class="required fw-semibold fs-6 mb-2">SupplierID</label>
                            <!--end::Label-->
                            <!--begin::Input-->
                            <input type="text" class="form-control " id="SupplierID" name="SupplierID" value="@product.SupplierID">
                            <!--end::Input-->
                        </div>
                        <div>
                            <!--begin::Label-->
                            <label class="required fw-semibold fs-6 mb-2">CategoryID</label>
                            <!--end::Label-->

                            <!--begin::Input-->
                            <input type="text" class="form-control" id="CategoryID" name="CategoryID" value="@product.CategoryID">
                            <!--end::Input-->
                        </div>
                        <div>
                            <!--begin::Label-->
                            <label class="required fw-semibold fs-6 mb-2">QuantityPerUnit</label>
                            <!--end::Label-->

                            <!--begin::Input-->
                            <input type="text" class="form-control " id="QuantityPerUnit" name="QuantityPerUnit" value="@product.QuantityPerUnit">
                            <!--end::Input-->
                        </div>
                        <div>                                   
                            <label class="required fw-semibold fs-6 mb-2">UnitPrice</label>
                            <input type="text" class="form-control" data-val="true" data-val-number="The field UnitPrice must be a number." id="UnitPrice" name="UnitPrice" value="@product.UnitPrice">
                            <br>       
                        </div>

                        <div>
                        <label class="required fw-semibold fs-6 mb-2">UnitsInStock</label>
                        <input type="text" class="form-control" id="UnitsInStock" name="UnitsInStock" value="@product.UnitsInStock">
                        </div>
                        
                        <div>
                            <label class="required fw-semibold fs-6 mb-2">UnitsOnOrder</label>
                            <input type="text" class="form-control" id="UnitsOnOrder" name="UnitsOnOrder" value="@product.UnitsOnOrder">
                            <!--end::Input-->
                        </div>
                        <div>
                            <!--begin::Label-->
                            <label class="required fw-semibold fs-6 mb-2">ReorderLevel</label>
                            <!--end::Label-->

                            <!--begin::Input-->
                            <input type="text" class="form-control " id="ReorderLevel" name="ReorderLevel" value="@product.ReorderLevel">
                            <!--end::Input-->
                        </div>
                    
                        <div class="fv-row mb-7 fv-plugins-icon-container">

                            <!--begin::Label-->
                            <label class="required fw-semibold fs-6 mb-5 mt-5">Discontinued</label>  
                            <br>                
                            <!--end::Label-->
                            <!--begin::Input-->
                            <input type="checkbox"   id="discontinuedCheckbox" value="@product.Discontinued">
                            <!--end::Input-->
                        <script>
                                document.addEventListener("DOMContentLoaded", function() {
                                var checkbox = document.getElementById("discontinuedCheckbox");
                                var modelValue = @Json.Serialize(product.Discontinued); 
                                checkbox.checked = modelValue;
                            });
                        </script>

            </div>

                        <!--end::Input group-->


                        <!--end::Input group-->
                     </div>
                    
                   
                <input name="__RequestVerificationToken" type="hidden" value="CfDJ8GxemYOtrGxHrjtI4Yo-ggHcKkBF6uQxLfb23jWCvpoycY2dJiY_KxP0X0YiKSV07YkoahJ9KyIQx7YL496nmELPfthBCffe4_ubbFqrQsPqgMJw8PCFpwf64sa36vqw8QTE5uZw1jUmboGdFGr4CUQ"><input name="Discontinued" type="hidden" value="false"></form> 
                <!--end::Form-->
            </div>
            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                            </div>
                        </div>
                    </div>
                </div>



                }

            }   

        }
        </tbody>
</table></div><div class="row"><div class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start"></div><div class="col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end"><div class="dataTables_paginate paging_simple_numbers" id="kt_table_users_paginate">
  @foreach (var product in productlist)
    {

        @if (product.TotalPages > 1)
            {
    <nav>
        <ul class="pagination">
            @for (var i = 1; i <= product.TotalPages; i++)
            {
                <li class="page-item @(i == product.Page ? "active" : "")">
                    <a class="page-link" href="/Home/Index?page=@i&pageSize=@product.PageSize">@i</a>
                </li>
               
            }
        </ul>
    </nav>

    } 
     break;       
}



<!--end::Table-->    </div>
    <!--end::Card body-->
</div>
<!--end::Products-->        </div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/assets/js/scripts.bundle.js"></script>
<script src="/assets/js/widgets.bundle.js"></script>         